/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

.about-narrow {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding-top: 70px;
}

.about-imgpara {
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  padding-left: 10px;
}

.title {
  font-family: 'Hina Micho', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.tagline {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Hina Micho', serif;
  font-size: 60px;
}

nav {
  width:100%;
}
